body {
  background-color: #440000;
  font-family: "Microsoft JhengHei", "PingFangSC-Regular", "Open Sans";
  font-weight: bold;
  margin: 0px; }

nav {
  width: 100%;
  padding: 40px 0px;
  position: fixed;
  z-index: 100000;
  background-image: linear-gradient(-180deg, #000000 0%, rgba(0, 0, 0, 0) 0%);
  -moz-transition: all 0.3s 0s;
  -o-transition: all 0.3s 0s;
  -webkit-transition: all 0.3s 0s;
  transition: all 0.3s 0s; }
  nav.sticky {
    width: 100%;
    padding: 20px 0px;
    top: 0px;
    background-image: linear-gradient(-180deg, #000000 51%, rgba(0, 0, 0, 0) 100%); }
    nav.sticky .logo-wrap {
      margin: -10px auto 0px;
      width: 40px; }
      nav.sticky .logo-wrap .logo {
        height: 39px;
        width: 39px;
        background-size: 40px 40px; }
  nav .logo-wrap {
    display: block;
    margin: -15px auto 0px;
    position: relative;
    width: 70px;
    -moz-transition: all 0.3s 0s;
    -o-transition: all 0.3s 0s;
    -webkit-transition: all 0.3s 0s;
    transition: all 0.3s 0s; }
    nav .logo-wrap .logo {
      height: 70px;
      width: 70px;
      display: inline-block;
      background: url("../imgs/general/logo.png") no-repeat;
      background-size: 69px 69px;
      -moz-transition: all 0.3s 0s;
      -o-transition: all 0.3s 0s;
      -webkit-transition: all 0.3s 0s;
      transition: all 0.3s 0s; }
  nav .nav_item {
    font-size: 20px;
    position: relative;
    -moz-transition: all 0.3s 0s;
    -o-transition: all 0.3s 0s;
    -webkit-transition: all 0.3s 0s;
    transition: all 0.3s 0s; }
    nav .nav_item:nth-of-type(1) {
      width: 100px;
      float: right;
      margin-right: 40px; }
    nav .nav_item:nth-of-type(2) {
      width: 70px;
      float: left;
      margin-left: 40px; }
    nav .nav_item a {
      color: #C01249;
      text-decoration: none; }
    nav .nav_item.activate .dec {
      width: 100%; }
    nav .nav_item .dec {
      width: 0%;
      margin: -12px 0px 0px -6px;
      background-color: #CC0C0C;
      position: absolute;
      height: 3px;
      -moz-transition: width 0.3s 0s;
      -o-transition: width 0.3s 0s;
      -webkit-transition: width 0.3s 0s;
      transition: width 0.3s 0s; }
    nav .nav_item:hover .dec {
      width: 100%; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000; }

.tmp-content {
  min-height: 100vh;
  display: block;
  position: relative; }

footer {
  width: 100%;
  min-height: 100px;
  background-color: black;
  display: block;
  position: relative;
  padding: 15px 0px; }
  footer .link-wrap {
    display: block;
    position: relative;
    width: 168px;
    height: 40px;
    margin: 16px auto 16px; }
    footer .link-wrap a {
      width: 40px;
      height: 40px;
      margin: 0px 8px;
      display: inline-block;
      opacity: 0.7;
      float: right;
      -moz-transition: all 0.3s 0s;
      -o-transition: all 0.3s 0s;
      -webkit-transition: all 0.3s 0s;
      transition: all 0.3s 0s; }
      footer .link-wrap a:hover {
        opacity: 1; }
      footer .link-wrap a.email {
        background: url("../imgs/general/email.png") no-repeat; }
      footer .link-wrap a.fb {
        background: url("../imgs/general/fb.png") no-repeat; }
      footer .link-wrap a.ig {
        background: url("../imgs/general/ig.png") no-repeat; }
  footer .copyright {
    display: block;
    height: 20px;
    position: relative;
    text-align: center;
    color: #C01249;
    font-size: 14px; }

@media all and (max-width: 480px) {
  nav.sticky .logo-wrap {
    margin: -10px 20px 0px;
    width: 40px; }
    nav.sticky .logo-wrap .logo {
      height: 40px;
      width: 40px;
      background-size: 40px 40px; }
  nav .logo-wrap {
    margin: -15px 20px 0px;
    float: left;
    width: 50px; }
    nav .logo-wrap .logo {
      height: 50px;
      width: 50px;
      background-size: 49px 49px; }
  nav .nav_item {
    font-size: 18px; }
    nav .nav_item:nth-of-type(1) {
      width: 90px;
      float: right;
      margin-right: 10px; }
    nav .nav_item:nth-of-type(2) {
      width: 63px;
      float: right;
      margin-right: 15px; }

  footer .link-wrap {
    margin: 10px auto 10px; } }

/*# sourceMappingURL=general.css.map */
