@charset "UTF-8";
body {
  background-color: black;
  font-family: "Microsoft JhengHei", "PingFangSC-Regular", "Open Sans";
  font-weight: bold;
  margin: 0px; }

nav {
  width: 100%;
  padding: 40px 0px;
  position: fixed;
  z-index: 100000;
  background-image: linear-gradient(-180deg, #000000 0%, rgba(0, 0, 0, 0) 0%);
  -moz-transition: all 0.3s 0s;
  -o-transition: all 0.3s 0s;
  -webkit-transition: all 0.3s 0s;
  transition: all 0.3s 0s; }
  nav.sticky {
    width: 100%;
    padding: 20px 0px;
    top: 0px;
    background-image: linear-gradient(-180deg, #000000 51%, rgba(0, 0, 0, 0) 100%); }
    nav.sticky .logo-wrap {
      margin: -10px auto 0px;
      width: 40px; }
      nav.sticky .logo-wrap .logo {
        height: 39px;
        width: 39px;
        background-size: 40px 40px; }
  nav .logo-wrap {
    display: block;
    margin: -15px auto 0px;
    position: relative;
    width: 70px;
    -moz-transition: all 0.3s 0s;
    -o-transition: all 0.3s 0s;
    -webkit-transition: all 0.3s 0s;
    transition: all 0.3s 0s; }
    nav .logo-wrap .logo {
      height: 70px;
      width: 70px;
      display: inline-block;
      background: url("../imgs/general/logo.png") no-repeat;
      background-size: 69px 69px;
      -moz-transition: all 0.3s 0s;
      -o-transition: all 0.3s 0s;
      -webkit-transition: all 0.3s 0s;
      transition: all 0.3s 0s; }
  nav .nav_item {
    font-size: 20px;
    position: relative;
    -moz-transition: all 0.3s 0s;
    -o-transition: all 0.3s 0s;
    -webkit-transition: all 0.3s 0s;
    transition: all 0.3s 0s; }
    nav .nav_item:nth-of-type(1) {
      width: 100px;
      float: right;
      margin-right: 40px; }
    nav .nav_item:nth-of-type(2) {
      width: 70px;
      float: left;
      margin-left: 40px; }
    nav .nav_item a {
      color: #C01249;
      text-decoration: none; }
    nav .nav_item.activate .dec {
      width: 100%; }
    nav .nav_item .dec {
      width: 0%;
      margin: -12px 0px 0px -6px;
      background-color: #CC0C0C;
      position: absolute;
      height: 3px;
      -moz-transition: width 0.3s 0s;
      -o-transition: width 0.3s 0s;
      -webkit-transition: width 0.3s 0s;
      transition: width 0.3s 0s; }
    nav .nav_item:hover .dec {
      width: 100%; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000; }

.tmp-content {
  min-height: 100vh;
  display: block;
  position: relative; }

footer {
  width: 100%;
  min-height: 100px;
  background-color: black;
  display: block;
  position: relative;
  padding: 15px 0px; }
  footer .link-wrap {
    display: block;
    position: relative;
    width: 168px;
    height: 40px;
    margin: 16px auto 16px; }
    footer .link-wrap a {
      width: 40px;
      height: 40px;
      margin: 0px 8px;
      display: inline-block;
      opacity: 0.7;
      float: right;
      -moz-transition: all 0.3s 0s;
      -o-transition: all 0.3s 0s;
      -webkit-transition: all 0.3s 0s;
      transition: all 0.3s 0s; }
      footer .link-wrap a:hover {
        opacity: 1; }
      footer .link-wrap a.email {
        background: url("../imgs/general/email.png") no-repeat; }
      footer .link-wrap a.fb {
        background: url("../imgs/general/fb.png") no-repeat; }
      footer .link-wrap a.ig {
        background: url("../imgs/general/ig.png") no-repeat; }
  footer .copyright {
    display: block;
    height: 20px;
    position: relative;
    text-align: center;
    color: #C01249;
    font-size: 14px; }

@media all and (max-width: 480px) {
  nav.sticky .logo-wrap {
    margin: -10px 20px 0px;
    width: 40px; }
    nav.sticky .logo-wrap .logo {
      height: 40px;
      width: 40px;
      background-size: 40px 40px; }
  nav .logo-wrap {
    margin: -15px 20px 0px;
    float: left;
    width: 50px; }
    nav .logo-wrap .logo {
      height: 50px;
      width: 50px;
      background-size: 49px 49px; }
  nav .nav_item {
    font-size: 18px; }
    nav .nav_item:nth-of-type(1) {
      width: 90px;
      float: right;
      margin-right: 10px; }
    nav .nav_item:nth-of-type(2) {
      width: 63px;
      float: right;
      margin-right: 15px; }

  footer .link-wrap {
    margin: 10px auto 10px; } }
.mobile-show {
  display: none; }

.head-img-container {
  position: absolute;
  top: 0px;
  height: 100vh;
  min-width: 100vw;
  display: block;
  object-fit: cover;
  background: url("../imgs/index/網頁橫幅.jpg") no-repeat;
  background-size: cover;
  background-position: center top; }
  .head-img-container .main-logo-wrapper {
    width: 100%;
    position: absolute;
    display: block;
    top: 150px; }
    .head-img-container .main-logo-wrapper h1 {
      color: #D8D8D8;
      text-align: center;
      font-size: 26px;
      letter-spacing: 20px;
      font-family: "Noto Serif TC", "serif"; }
    .head-img-container .main-logo-wrapper .title-wrap {
      width: 935px;
      margin: 20px auto 10px;
      min-height: 40px;
      overflow: hidden; }
      .head-img-container .main-logo-wrapper .title-wrap h1 {
        color: #CBCCCB;
        text-align: center;
        font-size: 56px;
        font-family: "Noto Serif TC";
        display: inline-block;
        float: left;
        width: 800px;
        margin: 20px 10px;
        letter-spacing: 10px; }
      .head-img-container .main-logo-wrapper .title-wrap img {
        float: left;
        display: block; }
        .head-img-container .main-logo-wrapper .title-wrap img.right {
          float: right; }
    .head-img-container .main-logo-wrapper h2 {
      color: #C01249;
      text-align: center;
      font-size: 16px;
      letter-spacing: 5px; }
  .head-img-container .arrow-down-wrapper {
    width: 100%;
    position: absolute;
    display: block;
    bottom: 30px;
    cursor: pointer; }
    .head-img-container .arrow-down-wrapper img {
      margin: 0px auto;
      display: block; }
    .head-img-container .arrow-down-wrapper .bounce {
      animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
.index-container {
  width: 100vw;
  margin: 0px auto 80px;
  padding-top: 100vh; }
  .index-container .time-period {
    font-size: 40px;
    text-align: center;
    color: #c3c4c6;
    font-family: "Noto Serif TC";
    letter-spacing: 10px;
    margin-top: 40px; }
    .index-container .time-period span {
      color: #C01249; }
  .index-container .count-down {
    font-size: 28px;
    text-align: center;
    color: #C01249;
    letter-spacing: 10px;
    margin-top: 30px; }
  .index-container .section-sep {
    display: block;
    margin: 40px auto; }
  .index-container .section-title {
    background-color: #C01249;
    width: 100vw;
    padding: 30px 0px;
    margin: 0px auto 60px;
    text-align: center;
    font-size: 35px;
    letter-spacing: 20px;
    color: black;
    font-family: "Noto Serif TC"; }
    .index-container .section-title .en {
      margin-top: 20px;
      font-size: 20px;
      letter-spacing: 8px;
      font-family: "Noto Serif TC"; }
  .index-container .activity-block-container {
    width: 1120px;
    margin: 0px auto;
    min-height: 100px;
    display: block;
    scroll-direction: horizontal;
    overflow: scroll;
    position: relative; }
    .index-container .activity-block-container::-webkit-scrollbar {
      display: none; }
    .index-container .activity-block-container .scroller.block-8 {
      width: 2240px; }
    .index-container .activity-block-container .scroller.block-5 {
      width: 1400px; }
    .index-container .activity-block-container .scroller.block-4 {
      width: 1120px; }
    .index-container .activity-block-container .scroller.block-3 {
      width: 840px; }
    .index-container .activity-block-container .scroller.block-2 {
      width: 560px; }
    .index-container .activity-block-container .scroller .activity-block {
      width: 260px;
      height: 260px;
      margin: 0px 10px;
      float: left;
      overflow: hidden;
      position: relative;
      cursor: pointer; }
      .index-container .activity-block-container .scroller .activity-block.activate:after {
        background-color: rgba(192, 82, 117, 0); }
      .index-container .activity-block-container .scroller .activity-block.activate .mask {
        bottom: 0px; }
      .index-container .activity-block-container .scroller .activity-block:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 260px;
        height: 260px;
        top: 0px;
        left: 0px;
        background-color: rgba(192, 82, 117, 0.3);
        transition: all 0.5s 0s; }
      .index-container .activity-block-container .scroller .activity-block:hover:after {
        background-color: rgba(192, 82, 117, 0); }
      .index-container .activity-block-container .scroller .activity-block:hover .mask {
        bottom: 0px; }
      .index-container .activity-block-container .scroller .activity-block .mask {
        width: 260px;
        height: 260px;
        position: absolute;
        overflow: hidden;
        bottom: -100px;
        left: 0;
        transition: all 0.2s 0s;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(149, 43, 62, 0.2), #b12a4b); }
        .index-container .activity-block-container .scroller .activity-block .mask .title {
          position: absolute;
          bottom: 30px;
          font-size: 18px;
          left: 10px;
          margin: 0px;
          letter-spacing: 1.4px;
          color: #ffeecc;
          display: block;
          padding: 0px; }
        .index-container .activity-block-container .scroller .activity-block .mask .time {
          position: absolute;
          bottom: 10px;
          font-size: 12px;
          left: 10px;
          letter-spacing: 1.4px;
          color: #dbd2b0;
          display: block; }
  .index-container .activity-detail {
    width: 100vw;
    max-height: 0px;
    overflow: hidden;
    background-color: black;
    margin-top: 25px;
    border: 0px solid #C01249;
    -moz-transition: all 0.5s 0s;
    -o-transition: all 0.5s 0s;
    -webkit-transition: all 0.5s 0s;
    transition: all 0.5s 0s; }
    .index-container .activity-detail.activate {
      border: 2px solid #C01249;
      border-width: 2px 0px 3px 0px;
      max-height: 1200px; }
    .index-container .activity-detail .detail-container {
      width: 90vw;
      margin: 25px auto;
      min-height: 100%; }
      .index-container .activity-detail .detail-container .img-wrap {
        width: 60%;
        min-height: 10px;
        overflow: hidden;
        float: left; }
      .index-container .activity-detail .detail-container img {
        width: 100%; }
      .index-container .activity-detail .detail-container a {
        float: left;
        text-decoration: none;
        color: #C01249;
        display: block;
        height: auto;
        min-width: 20px;
        overflow: hidden;
        margin: 30px 20px 30px 0px;
        transition: all 0.3s 0s;
        padding: 10px 10px;
        font-size: 20px;
        border: 4px solid #C01249;
        background: black; }
        .index-container .activity-detail .detail-container a:hover {
          color: black;
          background: #C01249; }
      .index-container .activity-detail .detail-container .info-container {
        width: 37%;
        float: right;
        padding-bottom: 30px; }
        .index-container .activity-detail .detail-container .info-container .title {
          font-size: 30px;
          letter-spacing: 5px;
          color: #c3c4c6;
          padding: 0px;
          margin-bottom: 25px; }
        .index-container .activity-detail .detail-container .info-container .loca_n_time {
          margin-bottom: 25px; }
          .index-container .activity-detail .detail-container .info-container .loca_n_time span {
            font-size: 16px;
            padding: 5px;
            letter-spacing: 5px;
            color: black;
            color: black;
            line-height: 25px;
            font-weight: 300;
            background-color: #C01249; }
        .index-container .activity-detail .detail-container .info-container .info-title {
          font-size: 16px;
          letter-spacing: 3px;
          margin-bottom: 10px; }
          .index-container .activity-detail .detail-container .info-container .info-title span {
            color: #C01249;
            font-size: 16px; }
          .index-container .activity-detail .detail-container .info-container .info-title .teacher-name {
            color: #c3c4c6; }
        .index-container .activity-detail .detail-container .info-container .info {
          font-size: 12px;
          letter-spacing: 1.5px;
          color: #c3c4c6;
          margin-bottom: 30px;
          line-height: 18px; }

@media all and (max-width: 1125px) {
  .head-img-container .main-logo-wrapper h1 {
    color: #D8D8D8;
    text-align: center;
    font-size: 24px;
    letter-spacing: 14px;
    font-family: "Noto Serif TC", "serif"; }
  .head-img-container .main-logo-wrapper .title-wrap {
    width: 728px; }
    .head-img-container .main-logo-wrapper .title-wrap h1 {
      font-size: 42px;
      width: 630px;
      margin: 10px 8px;
      letter-spacing: 10px; }
    .head-img-container .main-logo-wrapper .title-wrap img {
      width: 40px; }

  .index-container .time-period {
    font-size: 35px;
    letter-spacing: 5px; }
  .index-container .title {
    width: 840px;
    padding-left: 10px; }
  .index-container .activity-block-container {
    width: 840px;
    position: relative; }
    .index-container .activity-block-container .scroller.block-5 {
      width: 1400px; }
    .index-container .activity-block-container .scroller.block-4 {
      width: 1120px; }
    .index-container .activity-block-container .scroller.block-3 {
      width: 840px; }
    .index-container .activity-block-container .scroller.block-2 {
      width: 560px; }
  .index-container .activity-detail .detail-container {
    width: 100vw;
    margin: 5px auto; }
    .index-container .activity-detail .detail-container .img-wrap {
      width: 100%; }
    .index-container .activity-detail .detail-container .info-container {
      width: auto;
      padding: 10px 15px 30px;
      float: none; }
    .index-container .activity-detail .detail-container a {
      margin: 20px 15px 20px 15px; } }
@media all and (max-width: 843px) {
  .index-container .title {
    width: 750px;
    padding-left: 0px; }
  .index-container .activity-block-container {
    width: 800px; }
    .index-container .activity-block-container .scroller.block-8 {
      width: 1600px; }
    .index-container .activity-block-container .scroller.block-5 {
      width: 1000px; }
    .index-container .activity-block-container .scroller.block-4 {
      width: 800px; }
    .index-container .activity-block-container .scroller.block-3 {
      width: 600px; }
    .index-container .activity-block-container .scroller.block-2 {
      width: 400px; }
    .index-container .activity-block-container .scroller .activity-block {
      width: 180px;
      height: 180px; }
      .index-container .activity-block-container .scroller .activity-block img {
        width: 180px;
        height: 180px; } }
@media all and (max-width: 805px) {
  .index-container .title {
    width: 600px;
    padding-left: 0px; }
  .index-container .activity-block-container {
    width: 600px; } }
@media all and (max-width: 730px) {
  .mobile-show {
    display: block; }

  .mobile-hidden {
    display: none; }

  .head-img-container .main-logo-wrapper {
    top: 110px; }
    .head-img-container .main-logo-wrapper h1 {
      font-size: 16px;
      letter-spacing: 8px;
      font-family: "Noto Serif TC", "serif"; }
    .head-img-container .main-logo-wrapper .title-wrap {
      width: 100vw;
      margin-top: 25px;
      min-height: 15px; }
      .head-img-container .main-logo-wrapper .title-wrap h1 {
        font-size: 24px;
        width: 100%;
        text-align: center;
        margin: 0px 8px;
        letter-spacing: 5px;
        float: none; }
      .head-img-container .main-logo-wrapper .title-wrap img {
        width: 10px;
        display: none; }
    .head-img-container .main-logo-wrapper h2 {
      font-size: 10px;
      letter-spacing: 1px; }

  .index-container .time-period {
    font-size: 26px;
    letter-spacing: 5px; }
  .index-container .count-down {
    margin-top: 15px;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 3px; }
  .index-container .section-sep {
    width: 20px; }
  .index-container .section-title {
    padding: 15px 0px;
    margin: 0px auto 40px;
    text-align: center;
    font-size: 26px;
    letter-spacing: 5px;
    color: black;
    font-family: "Noto Serif TC"; }
    .index-container .section-title .en {
      margin-top: 20px;
      font-size: 12px;
      letter-spacing: 5px;
      font-family: "Noto Serif TC"; } }
@media all and (max-width: 605px) {
  .index-container .title {
    width: 360px;
    padding-left: 0px; }
  .index-container .activity-block-container {
    width: 360px; }
    .index-container .activity-block-container .scroller.block-8 {
      width: 1440px; }
    .index-container .activity-block-container .scroller.block-5 {
      width: 900px; }
    .index-container .activity-block-container .scroller.block-4 {
      width: 720px; }
    .index-container .activity-block-container .scroller.block-3 {
      width: 540px; }
    .index-container .activity-block-container .scroller.block-2 {
      width: 360px; }
    .index-container .activity-block-container .scroller .activity-block {
      width: 160px;
      height: 160px; }
      .index-container .activity-block-container .scroller .activity-block .mask .title {
        font-size: 16px; }
      .index-container .activity-block-container .scroller .activity-block img {
        width: 160px;
        height: 160px;
        margin-top: 5px; }
  .index-container .activity-detail .detail-container a {
    font-size: 16px;
    margin: 20px 0px 20px 15px;
    border: 2px solid #C01249;
    padding: 5px; }
    .index-container .activity-detail .detail-container a span {
      display: none; } }
@media all and (max-width: 330px) {
  .head-img-container .main-logo-wrapper .title-wrap h1 {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 0px 8px;
    letter-spacing: 5px;
    float: none; } }

/*# sourceMappingURL=index.css.map */
